<style>/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

body {
	/*To hide the horizontal scroller appearing during the animation*/
	overflow: hidden;
}

#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
 width: 100%;
  height: 50px;
  margin-top: 0px;
  position: absolute;
  top:0px;
  left:0;  z-index:2;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 500px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	  -ms-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  transform: rotate(-65deg);
	
}



/*Time to animate*/
.x1 {
    top:100px;
	-webkit-animation: moveclouds 3s linear infinite ease-in-out;
	-moz-animation: moveclouds 3s linear infinite ease-in-out;
	-o-animation: moveclouds 3s linear infinite ease-in-out;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
    top: 100px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite ease-in-out;
	-moz-animation: moveclouds 25s linear infinite ease-in-out;
	-o-animation: moveclouds 25s linear infinite ease-in-out;
}

.x3 {
	left: 50px; top: 100px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite ease-in-out;
	-moz-animation: moveclouds 20s linear infinite ease-in-out;
	-o-animation: moveclouds 20s linear infinite ease-in-out;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}</style>

<!--
So we will have an animated background with 5 clouds moving across the screen.
Steps: 
1. create the clouds
2. Animate them to move across the screen
3. Stylize the clouds(can be done as step #2 also)
-->
<div>
	<div class="cloud x1">&nbsp;</div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2">&nbsp;</div>
	<div class="cloud x3">&nbsp;</div>
</div>
<!-- Thats the markup! -->
<!-- That looks cool. We are done!! -->












