{% comment %}
    Renders a Buy Now button 

    Accepts:
    - product_to_add: {Object} Product Liquid object (REQUIRED)
	- button_text: {String} Button Text
    - quantity_to_add: {String} Quantity of the product you are trying to add to the cart (optional)
	- button_class: {String} CSS Classes you would like added to the button (optional)

    Usage:
    {% render 'instant-add-to-cart', product_to_add: product.selected_or_first_available_variant.id, quantity_to_add: 1, button_class: 'button-css-class' %}
{% endcomment %}

<a href="javascript:void();" id="instant-add-{{ product_to_add }}" name="instant-add-{{ product_to_add }}" onClick="addSingleItemToCart({{ product_to_add }}, '1');">{{ button_text }}</button>
  