<slider-component class="slider-mobile-gutter w-full">
      <ul class="lg:gap-10 md:gap-5 sm:gap-5 pb-20 pr-5 pl-5 max-w-max lg:w-4/5 md:w-3/4 sm:w-full inline-flex grid-cols-3" id="Slider-template--14210827092019__163941199019137521" role="list" style=""><li class="multicolumn-list__item grid grid-cols-1 ">
            <div class="card animate-arrow link card--stretch card--light-border">
            <div class="multicolumn-card">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                  <div class="media media--transparent media--square">
                   
                      <a href="http://www.thumperfab.com/collections/polaris/general/">
               
                    <img srcset="//cdn.shopify.com/s/files/1/0258/5424/6963/files/general_275x.png?v=1625673383 275w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/general_550x.png?v=1625673383 550w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/general.png?v=1625673383 580w" src="//cdn.shopify.com/s/files/1/0258/5424/6963/files/general_550x.png?v=1625673383" sizes="(min-width: 990px) 450px,
                        (min-width: 750px) 450px,
                        calc(100vw - 30px)" alt="" height="580" width="100%	" loading="lazy"> 
 
                      </a>
          
                  </div>
                </div><div class="multicolumn-card__info"></div>
            </div>
            </div>
          </li><li class="multicolumn-list__item grid grid-cols-1 ">
            <div class="card animate-arrow link card--stretch card--light-border">
            <div class="multicolumn-card">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                  <div class="media media--transparent media--square">
                   
                      <a href="http://www.thumperfab.com/collections/polaris/ranger/">
               
                    <img srcset="//cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger_275x.png?v=1625673383 275w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger_550x.png?v=1625673383 550w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger.png?v=1625673383 580w" src="//cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger_550x.png?v=1625673383" sizes="(min-width: 990px) 450px,
                        (min-width: 750px) 450px,
                        calc(100vw - 30px)" alt="" height="580" width="100%	" loading="lazy"> 
 
                      </a>
          
                  </div>
                </div><div class="multicolumn-card__info"></div>
            </div>
            </div>
          </li><li class="multicolumn-list__item grid grid-cols-1 ">
            <div class="card animate-arrow link card--stretch card--light-border">
            <div class="multicolumn-card">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                  <div class="media media--transparent media--square">
                   
                      <a href="http://www.thumperfab.com/collections/polaris/rzr/">
               
                    <img srcset="//cdn.shopify.com/s/files/1/0258/5424/6963/files/rzr_275x.png?v=1625673383 275w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/rzr_550x.png?v=1625673383 550w,//cdn.shopify.com/s/files/1/0258/5424/6963/files/rzr.png?v=1625673383 580w" src="//cdn.shopify.com/s/files/1/0258/5424/6963/files/rzr_550x.png?v=1625673383" sizes="(min-width: 990px) 450px,
                        (min-width: 750px) 450px,
                        calc(100vw - 30px)" alt="" height="580" width="100%	" loading="lazy"> 
 
                      </a>
          
                  </div>
                </div><div class="multicolumn-card__info"></div>
            </div>
            </div>
          </li></ul></slider-component>