<div class="
    pl-[20px]
    py-[24px]
    bg-[#f8f8f8]
    mt-9
    mb-4
    pr-6
  ">
    <div class="show-message mb-4 gc-font-light"></div>
    <div class="store flex text-sm mb-6 items-start">
        <div style="
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin: 0px;
      ">
            <div style="box-sizing: border-box; display: block; max-width: 100%">
                <img alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iMjUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+" style="
            max-width: 100%;
            display: block;
            margin: 0px;
            border: none;
            padding: 0px;
          " />
            </div>
            <img alt="pick up icon" src="https://www.guitarcenter.com//assets/images/common/icon-curbside-pickup-black.svg" decoding="async" data-nimg="intrinsic" style="
          position: absolute;
          inset: 0px;
          box-sizing: border-box;
          padding: 0px;
          border: none;
          margin: auto;
          display: block;
          width: 0px;
          height: 0px;
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          max-height: 100%;
        " /><noscript></noscript>
        </div>
        <div class="  store-content ml-2 leading-6">
            <div class=" ">
                <p class="  text-base"></p>
                <p class=" ">
                    <span class="  gc-font-bold text-[#333] mr-1">Ship</span><span class="  gc-font-light">to</span><span class="  underline cursor-pointer ml-1 text-[#000000]">Tyler, TX
                    </span>
                </p>
            </div>
            <span class="  text-[#333] gc-font-light"><span>Available for store pickup between Dec 31 - Jan 2</span></span>
            <p class="  text-[#E4111A] cursor-pointer gc-font-light">
                Check other stores
            </p>
        </div>
    </div>
    <div class="   delivery flex text-sm">
        <span class="   delivery-icon flex-shrink-0 w-[49px] h-[30px]"></span>
        <div class="   delivery-content ml-2 leading-6">
            <p class="  ">
                <span class="   text-base">Free Delivery to </span><span class="   underline cursor-pointer text-[#000000]">United States</span>
            </p>
            <p class="  "></p>
            <p class="   pr-4">
                <span class="   text-[#333] gc-font-light"><span class="   gc-font-bold text-[#058000]">In-stock </span>Most orders placed before 3 p.m. ET ship same day (except weekends
                    and holidays)</span>
            </p>
            <p class="
            
          change-zipCode
          inline-block
          text-[#E4111A]
          cursor-pointer
          gc-font-light
        ">
                Change zip code
            </p>
        </div>
    </div>
</div>