<style>
  .trust-img {
    width:30px;	 
  }
</style>

<div class="page-width">
<div class="w-full flex justify-center items-center">
  <div class="w-1/4 bg-green-400 text-center align-center">
    <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/robot_badge_550x.png?v=1636746109" />
    <h3>WE INNOVATE</h3>
    <p></p>
  </div>
  <div class="w-1/4 bg-green-400 text-center align-center">
    <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/truck_badge_550x.png?v=1636746092" />
    <h3>WE KNOW OUR SHIP</h3>
    <p></p>
  </div>
  <div class="w-1/4 bg-green-400 text-center align-center">
    <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/hands_badge_550x.png?v=1636746121" />                                                   
    <h3>WE GIVE A CRAP</h3>
    <p></p>
  </div>
  <div class="w-1/4 bg-green-400 text-center align-center">
    <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/texas_badge_550x.png?v=1636746139" />
    <h3>WE IN TEXAS</h3>
    <p></p>
  </div>

</div>
</div>