<style>
  .trust-img {
    width:60px;	
    display: block;
    margin:0 auto 2rem;
  }
  @media screen and (min-width: 750px) {
   .trust-img {
    width:100px;	
    display: block;
    margin:0 auto 2rem;
  }
  }
</style>


<div class="w-full px-56 md:px-24 sm:px-2 flex lg:flex-row md:flex-row sm:flex-col xs:flex-col justify-center items-center gap-5">
    <div class="w-1/4 sm:w-full bg-gray-400 text-center align-center pt-5">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/robot_badge_550x.png?v=1636746109" />
      <h3 class="text-4xl">WE INNOVATE</h3>
      <p></p>
    </div>
    <div class="w-1/4 sm:w-full bg-gray-400 text-center align-center pt-5">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/truck_badge_550x.png?v=1636746092" />
      <h3 class="text-4xl">WE KNOW OUR SHIP</h3>
      <p></p>
    </div>
    <div class="w-1/4 sm:w-full bg-gray-400 text-center align-center pt-5">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/hands_badge_550x.png?v=1636746121" />                                                   
      <h3 class="text-4xl">WE GIVE A CRAP</h3>
      <p></p>
    </div>
    <div class="w-1/4 sm:w-full bg-gray-400 text-center align-center pt-5">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/texas_badge_550x.png?v=1636746139" />
      <h3 class="text-4xl">WE IN TEXAS</h3>
      <p></p>
    </div>
</div>
