<style>
  .trust-container {
    background-color:#555; 
  }
  .trust-cell {
    background-color:#ccc; 
  }
  .trust-img {
    width:60px;	
    display: block;
    margin:0 auto 2rem;
  }
  @media screen and (min-width: 750px) {
     .trust-img {
      width:100px;	
      display: block;
      margin:0 auto 2rem;
    }
  }
</style>

<div>
  <h2>Why Thumper Fab?</h2>
</div>
<div class="trust-container w-full pt-10 pb-10 px-56 md:px-24 sm:px-2 flex lg:flex-row md:flex-row sm:flex-col xs:flex-col justify-center items-center gap-2">
    <div class="trust-cell w-1/6 sm:w-full text-center align-center pt-5 rounded-lg shadow-lg">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/robot_badge_550x.png?v=1636746109" />
      <h3 class="text-4xl">WE INNOVATE</h3>
      <p>Our team of engineers utilizes cutting edge technologies to create our unique, and incredibly resilient products.</p>
    </div>
    <div class="trust-cell w-1/6 sm:w-full text-center align-center pt-5 rounded-lg shadow-lg">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/truck_badge_550x.png?v=1636746092" />
      <h3 class="text-4xl">WE KNOW OUR SHIP</h3>
      <p>Our shipping process ensures a quick and safe journey from our warehouse to your door.</p>
    </div>
    <div class="trust-cell w-1/6 sm:w-full text-center align-center pt-5 rounded-lg shadow-lg">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/hands_badge_550x.png?v=1636746121" />                                                   
      <h3 class="text-4xl">WE GIVE A CRAP</h3>
      <p>Questions? Concerns? We can help! We strive to be the best at what we do & our dedication to our customer is unparalleled.</p>
    </div>
    <div class="trust-cell w-1/6 sm:w-full text-center align-center pt-5 rounded-lg shadow-lg">
      <img class="trust-img" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/texas_badge_550x.png?v=1636746139" />
      <h3 class="text-4xl">WE IN TEXAS</h3>
      <p>Our manufacturing process is all done under one roof, here in Texas, using only the best materials we can get our hands on.</p>
    </div>
</div>
