<div class="w-full">
	<div class="w-full bg-white">
		test
  	</div>
  	<div class="w-full bg-gradient-to-t from-white via-white to-trueGray-400">
		test
  	</div>
</div>


{% schema %}
  {
    "name": "Big Product Viewer",
    "settings": []
  }
{% endschema %}
