
<div class="w-full content-center items-center flex justify-center">
  	<div class="imgHolder absolute h-500px">
      <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/TRANS-General_FWB-Front_raw_no_lights_2048x_8c9dee50-2155-4de4-bccd-91135706d025_1000x1000_crop_center.png?v=1638296807">
  	</div>
	<div class="w-full bg-white" style="height: 500px;">
      <div class="text-6xl p-20" style="font-family: teko;">{{ product.title }}</div>
  	</div>
  	<div class="w-full bg-gradient-to-t from-white via-gray-100 to-gray-600" style="height: 500px;">
		&nbsp;
  	</div>
</div>


{% schema %}
  {
    "name": "Big Product Viewer",
    "settings": []
  }
{% endschema %}
