
<div class="w-full inline justify-center content-center">

	<div class="w-full bg-white z-1 block" style="height: 500px;">
      <span class="text-6xl p-20" style="font-family: teko;">{{ product.title }}</span>
  	</div>
  	<div class="w-full z-1  inline-block bg-gradient-to-t from-white via-gray-100 to-gray-600" style="height: 500px;">
		&nbsp;
  	</div>
    	<div class="imgHolder absoilute z-2">
      <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/TRANS-General_FWB-Front_raw_no_lights_2048x_8c9dee50-2155-4de4-bccd-91135706d025_1000x1000_crop_center.png?v=1638296807">
  	</div>
</div>


{% schema %}
  {
    "name": "Big Product Viewer",
    "settings": []
  }
{% endschema %}
