
<div class="w-full grid flex justify-items-center">

	<div class="w-full bg-white z-1 p-20" style="height: 400px;">
      <span class="text-6xl p-20 pt-40 mt-20" style="font-family: teko;">{{ product.title }}</span>
  	</div>
  	<div class="w-full z-1 flow-root bg-gradient-to-t from-white via-gray-100 to-gray-600" style="height: 25%;">
		&nbsp;
  	</div>
    	<div class="imgHolder absolute z-2 -mt-0">
      <!--<img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/TRANS-General_FWB-Front_raw_no_lights_2048x_8c9dee50-2155-4de4-bccd-91135706d025_1000x1000_crop_center.png?v=1638296807">-->
       <!-- Import the component -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<!-- Use it like any other HTML element -->
<model-viewer bounds="tight" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/Ranger_1000_FWB-front.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="neutral" poster="https://modelviewer.dev/poster.webp" shadow-intensity="1">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
    <div id="ar-prompt">
        <img src="https://modelviewer.dev/shared-assets/icons/hand.png">
    </div>
</model-viewer>

  	</div>
</div>






{% schema %}
  {
    "name": "Big Product Viewer",
    "settings": []
  }
{% endschema %}
