
<div class="w-full">
  	<div class="imgHolder absolute h-500px">
      {{ product.featured_media | img_url: '1000x1000', crop: 'center' | img_tag }}
  	</div>
	<div class="w-full bg-white" style="height: 500px; border: 1px solid black;">
		test
  	</div>
  	<div class="w-full bg-gradient-to-t from-gray-200 via-gray-400 to-gray-600" style="height: 500px; border: 1px solid black;">
		test
  	</div>
</div>


{% schema %}
  {
    "name": "Big Product Viewer",
    "settings": []
  }
{% endschema %}
