<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Cage Options</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">Help us build the right cage for your {{ brandName }}</p>
    </div>
    <!-- text - end -->

    <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/x3_hi-brow-cage_only-raw.jpg?v=1640147565" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">High Brow</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/x3_lo-brow-cage_only-raw_1.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Low Brow</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/window_intrusion_bar-detail_a77d044b-9dfd-4eec-be52-6e8dda99c161.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Window Intrusion</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/whip_tab_d312b7be-0267-4453-8c8d-111e56cf488b.jpg?v=1640147565" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Whip Tab</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/seatbelt_harness_mount.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Seatbelt Harness</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/roof_intrusion_bar-detail_3c35f7e4-331f-4cb0-a1b2-f659957e8eae.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Roof Instrusion</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/seatbelt_bung.jpg?v=1640147565" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Seatbelt Bung</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/light_bar_tab.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Light Bar Tab</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/grab_handles-detail_369fd9cd-0bd8-4bd6-9e8e-447d9fd8da09.jpg?v=1640147566" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">Grab Handles</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->
<!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-32 md:w-32 h-32 md:h-32 md:h-30 flex justify-center items-center flex-shrink-0 text-white shadow-lg rounded-lg cursor-pointer md:rounded-xl hover:outline">
          <img class="cursor-pointer hover:outline rounded-lg md:rounded-xl" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/5-point_harness_mounts-4-seat_f290310c-a858-42d2-97e3-16d0d4944313.jpg?v=1640147565" />
        </div>

        <div>
          <h3 class="text-4xl md:text-4xl font-semibold mb-2">5 Point Harness</h3>
          <p class="text-gray-500 mb-2">Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
      <!-- feature - end -->

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Cage Options",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
