<section id="index-page-affirm-section" class="index-page-affirm-section">
	<div class="shop-by-ride-brand-container w-full flex-wrap justify-center">
    	<div class="index-section-content w-full bg-gray-200 justify-center text-center" style="height: 400px; background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/37563b1-Splitpay_black.png?v=1639652478'); background-repeat: no-repeat; background-color: #000000; background-position: center;">
			
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Index Page Affirm Section",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": []
}
{% endschema %}