<section id="index-page-affirm-section" class="index-page-affirm-section">
    <div>
        {%- section 'image-banner' -%}
	</div>
</section>
{% schema %}
  {
    "name": "Index Page Affirm Section",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [ ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "t:sections.affirm.blocks.image_picker.name",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-picker.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}