<section id="index-page-affirm-section" class="index-page-affirm-section">
	
</section>
{% schema %}
  {
    "name": "Index Page Affirm Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
