<section id="index-page-affirm-section" class="index-page-affirm-section">
	<div class="shop-by-ride-brand-container w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-200 text-center pt-5" style="font-family: Teko;">AFFIRM</div>
    	<div class="index-section-content w-full bg-gray-400 justify-center">
			content
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Index Page Affirm Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
