<section class="section">
<div class="jacobs-carousel">
  <div class="main-carousel" data-flickity='{ "cellAlign": "middle", "conatin": true, "freeScroll": true, "wrapArounbd": true }'>
    <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/audio_category_card_500x500.jpg?v=1640048420"></div>
    <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/winches_category_card_500x500.jpg?v=1640044491"></div>
    <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/roofs_category_card_500x500.jpg?v=1640044492"></div>
    <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/doors_category_card_500x500.jpg?v=1640044492"></div>
    <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/cages_category_card_500x500.jpg?v=1640044492"></div>
  </div>
</div>
</section>

{% schema %}
  {
    "name": "Jacobs Sandbox",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.flickity-page-dots .dot {
  	background: {{ section.settings.navigation_color }};
  }
  .flickity-button-icon {
  	color: {{ section.settings.navigation_color }};
  }
{% endstylesheet %}

{% javascript %}


{% endjavascript %}