<style>
.carousel-image {
  min-width: 500px;
  height: 500px;
}
</style>

<div class="jacobs-carousel w-full">
  <div class="main-carousel" data-flickity='{ "cellAlign": "center", "freeScroll": true, "wrapAround": true, "imagesLoaded": true }'>
    <div class="carousel-cell w-full"><img class="carousel-cell-image" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/audio_category_card_500x500.jpg?v=1640048420" /></div>
    <div class="carousel-cell w-full"><img class="carousel-cell-image" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/winches_category_card_500x500.jpg?v=1640044491" /></div>
    <div class="carousel-cell w-full"><img class="carousel-cell-image" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/roofs_category_card_500x500.jpg?v=1640044492" /></div>
    <div class="carousel-cell w-full"><img class="carousel-cell-image" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/doors_category_card_500x500.jpg?v=1640044492" /></div>
    <div class="carousel-cell w-full"><img class="carousel-cell-image" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/cages_category_card_500x500.jpg?v=1640044492" /></div>
  </div>
</div>


{% schema %}
  {
    "name": "Jacobs Sandbox",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}


{% endjavascript %}