<section>
<div class="carousel">
  <div class="carousel_cell">Hi</div>
  <div class="carousel_cell">Hi</div>
  <div class="carousel_cell">Hi</div>
  <div class="carousel_cell">Hi</div>
  <div class="carousel_cell">Hi</div>
</div>
</section>

{% schema %}
  {
    "name": "Jacobs Sandbox",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}