<style>
	.lifestyle-images-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/l3-l2.jpg?v=1639760053');
    	background-repeat: no-repeat;
      	background-position: center;
		height: 450px;
    }
</style>
<section class="lifestyle-images-section w-full flex justify-center">
	<div class="lifestyle-images-content w-full">
  
	</div>
</section>
	
{% schema %}
  {
    "name": "Lifestyle Images",
    "settings": []
  }
{% endschema %}
