<section class="w-full">
  <div class="paralax-image bg-fixed bg-fill" style="height: 200px; background-image: url(https://cdn.shopify.com/s/files/1/0258/5424/6963/files/get_ready_to_rock.jpg?v=1638870522);">&nbsp;</div>
</section>

{% schema %}
  {
    "name": "Paralax Image",
    "settings": [
		{
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.paralax.settings.image.label"
    }
	]
  }
{% endschema %}

{% stylesheet %}
.
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
