<style>
  .related-products-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.related-products-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>
<section class="related-products-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="related-products-title w-full text-3xl font-bold p-10">
		RELATED PRODUCTS
	</div>
	<div class="related-products-content w-full p-10">
		check out how cool these related products are
	</div>
</section>
	
{% schema %}
  {
    "name": "Related Products",
    "settings": []
  }
{% endschema %}