<style>
	.product-features-content {
		background-color: #ccc;
    }
</style>
<section class="product-features-section w-full flex justify-center">
	<div class="product-features-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product-Features",
    "settings": []
  }
{% endschema %}
