<style>
  .product-specs-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-specs-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
    }
</style>
<section class="product-specs-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-specs-title w-full text-3xl font-bold p-10">
		PRODUCT SPECS
	</div>
	<div class="product-specs-content w-full">
		These are the product specs
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Specs",
    "settings": []
  }
{% endschema %}