<style>
  .product-fitment-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-fitment-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>
<section class="product-fitment-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-fitment-title w-full text-3xl font-bold p-10">
		PRODUCT FITMENT
	</div>
	<div class="product-fitment-content w-full p-10">
		Put a Fitment Table Here Please
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Fitment",
    "settings": []
  }
{% endschema %}