<style>
  .product-fitment-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-fitment-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
        margin: 5rem auto 0rem;
    }
    .product-fitment-content ul {
       list-style-type: disc;
       
    }
</style>


<section class="product-fitment-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-fitment-title w-full text-3xl font-bold p-10">
		PRODUCT FITMENT
	</div>
	<div class="product-fitment-content w-5/6 p-10 shadow-xl rounded-lg border-2">
		{{ product.metafields.global.fitment }}
	</div>
</section>
	

{% schema %}
{
  "name": "t:sections.product-fitment.name",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.product-fitment.settings.custom_liquid.label",
      "info": "t:sections.product-fitment.settings.custom_liquid.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-fitment.presets.name"
    }
  ]
}
{% endschema %}
