<style>
  .product-fitment-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-fitment-content {
		background-color: #ccc;
    }
</style>
<section class="product-fitment-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-fitment-title w-full text-3xl font-bold p-10">
		PRODUCT FITMENT
	</div>
	<div class="product-fitment-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Fitment",
    "settings": []
  }
{% endschema %}