<style>
  .product-video-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-video-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>


<section class="product-video-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-video-title w-full text-3xl font-bold p-10">
		PRODUCT VIDEOS
	</div>
	<div class="product-video-content w-full p-10" sytle="min-height: 200px;">
		<iframe class="w-full h-full" src="{{ product.metafields.custom-video.custom_video | replace: '/watch?v=', '/embed/' }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</section>
	

{% schema %}
{
  "name": "Product Video",
  "settings": []
}
{% endschema %}
