<style>
  .product-docs-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-docs-content {
		background-color: #ccc;
    }
</style>
<section class="product-docs-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-docs-title w-full text-3xl font-bold p-10">
		PRODUCT DOCS
	</div>
	<div class="product-docs-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Docs",
    "settings": []
  }
{% endschema %}