<style>
  .product-docs-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-docs-content {
		background-color: #eee;
      	font-family: 'Teko', san-serif;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
      	font: 5vmin/1.3 Serif;
        font-size: 22px;
        color: transparent;
    }
    .product-docs-content a {
      color:#222;
      font-family: 'Teko', san-serif;
    }
  .product-docs-content a:hover {
      text-decoration:underline;      
    }
</style>

<section class="product-docs-section w-full">
  	<div class="product-section-title product-docs-title w-full text-3xl font-bold p-10">
		PRODUCT DOCS
	</div>
    <div class="w-full inline-flex">
        <div id="product-docs" class="product-docs-content w-auto p-10 block">
          <a href="{{ product.metafields.global.manual | file_url }}">
            <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/PDF_icon_large_868fc778-38bc-4657-9cee-6b48a48b8f34.png?v=1593114919%20style="/>
            Download Product Manual
          </a>
        </div>
        <div class="w-auto">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c_s-fkNzvac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        </div>
        <div class="w-auto text-3xl font-bold p-20" style="background-color:#eee; m-auto">
          We're not saying you're gonna need help with this, but here it is, just in case.
        </div>
   </div>
</section>
	
{% schema %}
  {
    "name": "Product Docs",
    "settings": []
  }
{% endschema %}