<style>
  .product-video-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-video-content {
		background-color: #ccc;
    }
</style>
<section class="product-video-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-video-title w-full text-3xl font-bold p-10">
		PRODUCT VIDEOS
	<div class="product-video-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Videos",
    "settings": []
  }
{% endschema %}