<style>
  .related-products-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.related-products-content {
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
      	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		height: 20vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

    }
</style>
<section class="related-products-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="related-products-title w-full text-3xl font-bold p-10">
		RELATED PRODUCTS
	</div>
	<div class="related-products-content w-full p-10">
		Check out how cool these related products are<br />
      Check out how cool these related products are<br />
      Check out how cool these related products are<br />
      
	</div>
</section>
	
{% schema %}
  {
    "name": "Related Products",
    "settings": []
  }
{% endschema %}