<style>
  .product-specs-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-specs-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>
<section class="product-specs-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-section-title product-specs-title w-full text-3xl font-bold p-10">
		DESCRIPTION
  </div>
	<div class="text-3xl w-full p-10">
		{{ product.description }}
	</div>
</section>


{% schema %}
  {
    "name": "Product Description",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
