<style>
  .product-features-container {
     background-color:#444; 
  }
  .product-features-title {
		background-color: #ccc;
    	font-family: 'Rajdhani';
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-features-content {
      	font-family: 'Teko', 'Roboto';
      	font-weight: normal;
      	line-height: 1.8;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
    .product-features-content ul {
       list-style-type: disc;
       
    }
</style>


<div class="product-features-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-section-title product-features-title w-full text-3xl font-bold p-10">
		PRODUCT FEATURES
	</div>
    <div class="product-features-container flex flex-wrap justify-center mx-auto">
        <div class="lg:w-1/2 sm:w-5/6 mx-auto flex flex-shrink justify-center items-center"><img class="w-5/6 h-5/6" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger_1000_FWB_trans-1.png?v=1640121581"/></div>
        <div class="product-features-content bg-gray-400 rounded-lg p-10 lg:w-1/2 sm:w-5/6 lg:text-5xl md:text-5xl text-3xl mx-auto text-gray-200 flex justify-center">
          {{ product.metafields.global.features }}
        </div>
    </div>
</div>


	

{% schema %}
{
  "name": "Product Features",
  "settings": []
}
{% endschema %}
