<style>
  .product-features-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-features-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
        margin:5rem auto 0rem;
    }
    .product-features-content ul {
       list-style-type: disc;
       
    }
</style>


<div class="product-features-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-features-title w-full text-3xl font-bold p-10">
		PRODUCT FEATURES
	</div>
  	<div class="pb-20 lg:px-20 md:px-15 sm:px-10 mx-auto w-6/8 justify-evenly flex inline-flex">
        <div class="product-single__media w-1/2" style="padding-top: 100%">
        <div class="shopify-model-viewer-ui shopify-model-viewer-ui--desktop"><div class="shopify-model-viewer-ui__sr-only" data-shopify-model-viewer-ui-sr-only="" role="status"></div><model-viewer reveal="auto" toggleable="true" data-model-id="20733226582067" src="https://model3d.shopifycdn.com/models/o/f4d66bae17b469a3/Ranger_1000_FWB-front.glb" camera-controls="true" style="--poster-color: transparent;" data-shopify-feature="1.9" alt="Polaris Ranger 1000 Front Bumper" poster="//cdn.shopify.com/s/files/1/0258/5424/6963/products/Ranger_1000_FWB-front_625x625.jpg?v=1638514874" class="shopify-model-viewer-ui__disabled" tabindex="-1" data-js-focus-visible="" ar-status="not-presenting"></model-viewer><div class="shopify-model-viewer-ui__controls-overlay"><button class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--poster" aria-label="Play 3D Viewer"><svg focusable="false" class="shopify-model-viewer-ui__poster-control-icon"><use xlink:path="#threed-icon-button-control" xlink:href="#threed-icon-button-control"></use></svg></button><div class="shopify-model-viewer-ui__controls-area"><button class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--control shopify-model-viewer-ui__button--zoom-in" aria-label="Zoom In"><svg focusable="false" class="shopify-model-viewer-ui__control-icon"><use xlink:path="#zoom-in-icon" xlink:href="#zoom-in-icon"></use></svg></button><button class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--control shopify-model-viewer-ui__button--zoom-out" aria-label="Zoom Out"><svg focusable="false" class="shopify-model-viewer-ui__control-icon"><use xlink:path="#zoom-out-icon" xlink:href="#zoom-out-icon"></use></svg></button><button class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--control shopify-model-viewer-ui__button--fullscreen" aria-label="Enter Fullscreen"><svg focusable="false" class="shopify-model-viewer-ui__control-icon shopify-model-viewer-ui__control-icon--enter-fullscreen"><use xlink:path="#enter-fullscreen-icon" xlink:href="#enter-fullscreen-icon"></use></svg><svg focusable="false" class="shopify-model-viewer-ui__control-icon shopify-model-viewer-ui__control-icon--exit-fullscreen"><use xlink:path="#exit-fullscreen-icon" xlink:href="#exit-fullscreen-icon"></use></svg></button></div></div></div>
    </div>
        <!--<div class="w-1/2"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/ranger_1000_FWB_trans-1.png?v=1640121581"/></div>-->
        <div class="product-features-content min-w-0 p-10 shadow-xl rounded-lg border-2 pl-10">
                {{ product.metafields.global.features }}
      	</div>
	</div>
</div>

	

{% schema %}
{
  "name": "Product Features",
  "settings": []
}
{% endschema %}
