<style>
  .product-description-title {
		background-color: #555;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-description-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>
<section class="product-description-section w-full flex flex-wrap mx-auto justify-center border-1 border-gray-900 shadow-2xl">
  	<div class="product-section-title product-description-title w-full text-4xl font-bold p-8">
		DESCRIPTION
  </div>
	<div class="description text-2xl w-full p-10">
		{{ product.description }}
	</div>
</section>


{% schema %}
  {
    "name": "Product Description",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
