<style>
  .product-docs-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.product-docs-content {
		background-color: #eee;
      	font-family: Roboto;
      	font-weight: normal;
      	line-height: 1.6;
      	font-size: 100%;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
      	font: 5vmin/1.3 Serif;
        font-size: 52px;
        color: transparent;
    }
  	.ball {
  		position: absolute;
  		border-radius: 100%;
  		opacity: 0.7;
	}
</style>
<script>
  // Some random colors
const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

const numBalls = 50;
const balls = [];

for (let i = 0; i < numBalls; i++) {
  let ball = document.createElement("div");
  ball.classList.add("ball");
  ball.style.background = colors[Math.floor(Math.random() * colors.length)];
  ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
  ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
  ball.style.transform = `scale(${Math.random()})`;
  ball.style.width = `${Math.random()}em`;
  ball.style.height = ball.style.width;
  
  balls.push(ball);
  let draweringboard = document.getElementById['product-docs'];
  draweringboard.innerHTML += ball;
}

// Keyframes
balls.forEach((el, i, ra) => {
  let to = {
    x: Math.random() * (i % 2 === 0 ? -11 : 11),
    y: Math.random() * 12
  };

  let anim = el.animate(
    [
      { transform: "translate(0, 0)" },
      { transform: `translate(${to.x}rem, ${to.y}rem)` }
    ],
    {
      duration: (Math.random() + 1) * 2000, // random duration
      direction: "alternate",
      fill: "both",
      iterations: Infinity,
      easing: "ease-in-out"
    }
  );
});

</script>
<section class="product-docs-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-docs-title w-full text-3xl font-bold p-10">
		PRODUCT DOCS
	</div>
	<div id="product-docs" class="product-docs-content w-full p-10 block">
      <a href="{{ product.metafields.global.manual }}">Product Manual</a>
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Docs",
    "settings": []
  }
{% endschema %}