<style>
  .product-reviews-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-reviews-content {
		background-color: #eee;
    }
</style>
<section class="product-reviews-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-reviews-title w-full text-3xl font-bold p-10">
		PRODUCT REVIEWS
	</div>
	<div class="product-reviews-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product Reviews",
    "settings": []
  }
{% endschema %}