<style>
	.product-features-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/l3-l2.jpg?v=1639760053');
    	background-repeat: no-repeat;
      	background-position: center;
		height: 500px;
    }
</style>
<section class="product-features-section w-full flex justify-center">
	<div class="product-features-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product-Features",
    "settings": []
  }
{% endschema %}
