<style>
  .product-features-title {
		background-color: #ccc;
    	font-family: Rajdhani;
    }
	.product-features-content {
		background-color: #ccc;
    }
</style>
<section class="product-features-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="product-features-title w-full text-3xl font-bold p-10">
		PRODUCT FEATURES
	</div>
	<div class="product-features-content w-full">
		&nbsp;
	</div>
</section>
	
{% schema %}
  {
    "name": "Product-Features",
    "settings": []
  }
{% endschema %}
