<style>
  .category-img { 
    width:90%;
    height: 90%;
    text-align:center;
    margin:5rem auto 1rem;
    box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 0.8), 0 4px 6px -4px rgb(0 0 0 / 0.8);
  }
  .category-img:hover {
    box-shadow: 0px 0px 25px 0px rgb(127 127 127 / 0.9), 0 4px 6px -4px rgb(0 0 0 / 0.8);
  }
</style>
<section id="shop-by-type" class="shop-by-type">
	<div class="shop-by-TYPE-brand-container w-full flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">SHOP BY TYPE</div>
    	<div class="index-section-content w-full">
          <div class="shop-by-ride-grid w-7/8 bg-gray-700">
          	<div class="flex flex-wrap overflow-hidden mx-20 pb-20 ">
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=accessories"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/accessories_category_card.jpg?v=1640044493" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=audio"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/audio_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=bumpers"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/bumpers_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=cages"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/cages_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=doors"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/doors_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=lighting"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/lighting_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>              
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=roofs"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/roofs_category_card.jpg?v=1640044492" class="category-img rounded-xl" /></a>
              </div>
              <div class="lg:w-1/4 sm:w-1/2 overflow-hidden justify-center text-center m-auto">
                <a href="https://thumperfab.com/search?q=winches"><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/winches_category_card.jpg?v=1640044491" class="category-img rounded-xl" /></a>
              </div>
            </div>          
          </div>
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Shop By Type",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
