<section id="shop-by-ride" class="shop-by-ride">
	<div class="w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full font-size-9x bg-gray-200 text-center">Shop By Ride</div>
    	<div class="index-section-content w-full bg-gray-400 justify-center">
        	<div class="shop-by-ride-grid 
      	</div>
	</div>
</section>

{% schema %}
  {
    "name": "Shop By Ride",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
