<section id="shop-by-type" class="shop-by-type">
	<div class="shop-by-TYPE-brand-container w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">SHOP BY TYPE</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center">
          <div class="shop-by-ride-grid">
          	<div class="flex flex-wrap overflow-hidden">
              <div class="w-1/4 overflow-hidden justify-center text-center">
                ACCESSORIES
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/accessories_category_card.jpg?v=1640044493" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                AUDIO
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/audio_category_card.jpg?v=1640044492" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                BUMPERS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/bumpers_category_card.jpg?v=1640044492" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                CAGES
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/cages_category_card.jpg?v=1640044492" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                DOORS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/doors_category_card.jpg?v=1640044492" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                LIGHTING
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/lighting_category_card.jpg?v=1640044492" />
              </div>              
              <div class="w-1/4 overflow-hidden justify-center text-center">
                ROOFS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/roofs_category_card.jpg?v=1640044492" />
              </div>
              <div class="w-1/4 overflow-hidden justify-center text-center">
                WINCHES
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/winches_category_card.jpg?v=1640044491" />
              </div>
            </div>          
          </div>
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Shop By Type",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
