<section id="shop-by-type" class="shop-by-type">
	
</section>
{% schema %}
  {
    "name": "Shop By Type",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
