<section id="shop-by-ride" class="shop-by-ride">
	<div class="w-full bg-green-400 flex justify-center">
    	<div class="index-section-title font-size-6xl">Shop By Ride</div>
  	</div>
</section>

{% schema %}
  {
    "name": "Shop By Ride",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
