<section id="shop-by-type" class="shop-by-type">
	<div class="shop-by-ride-brand-container w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">SHOP BY TYPE</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center">
          <div class="shop-by-ride-grid">
          	<div class="flex flex-wrap overflow-hidden">
              <div class="w-1/3 overflow-hidden justify-center text-center">
                CAN-AM
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/collections/Accessories_slide-1_540x.jpg?v=1608225155" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                POLARIS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/polaris_blue_900x.png?v=1608052037" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                POLARIS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/polaris_blue_900x.png?v=1608052037" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                HONDA
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/Honda_shop_by_make_540x.png?v=1615905015" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                TRACKER
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/tracker_brand_540x.png?v=1608052049" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                YAMAHA
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/yamaha_red_540x.png?v=1608052060" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
            </div>          
          </div>
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Shop By Type",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
