<section id="shop-by-type" class="shop-by-type">
	<div class="shop-by-TYPE-brand-container w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">SHOP BY TYPE</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center">
          <div class="shop-by-ride-grid">
          	<div class="flex flex-wrap overflow-hidden">
              <div class="w-1/3 overflow-hidden justify-center text-center">
                ACCESSORIES
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/collections/Accessories_slide-1_540X.jpg?v=1623268137 540w 142h" />
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                BUMPERS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/collections/20200331_162038000_iOS_25f932ce-eff7-4e7f-8f4e-597642de2d7c_540x.jpg?v=1623268137 540w 142h" />
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                DOORS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/collections/doors_collection_540x.jpg?v=1623268137 540w 142h" />
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                CAGES
                <img src="//cdn.shopify.com/s/files/1/0258/5424/6963/collections/20200303_153730457_iOS_187ebc54-7859-4fb0-8e70-9cca79cc674b_540x.jpg?v=1623268137 540w 142h" />
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                ROCKFORD FOSGATE
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/tracker_brand_540x.png?v=1608052049" />
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                WINCHES
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/yamaha_red_540x.png?v=1608052060" />
              </div>
            </div>          
          </div>
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Shop By Type",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
