<style>
.index-section-content {
  border-top: 1px solid #333; 
}
  
</style>


<section id="shop-by-ride" class="shop-by-ride">
	<div class="shop-by-ride-brand-container w-full bgcolor-green400 flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">SHOP BY RIDE</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center">
          <div class="shop-by-ride-grid ml-20 mr-20">
          	<div class="flex flex-wrap overflow-hidden pb-20">
              <div class="w-1/2 overflow-hidden justify-center text-center">
                CAN-AM
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/can-am_yellow_1a1c3ce7-2502-4226-9f6e-109b4fde8ac2_900x.png?v=1608052020" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/2 overflow-hidden justify-center text-center">
                POLARIS
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/polaris_blue_900x.png?v=1608052037" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                HONDA
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/Honda_shop_by_make_540x.png?v=1615905015" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                TRACKER
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/tracker_brand_540x.png?v=1608052049" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
              <div class="w-1/3 overflow-hidden justify-center text-center">
                YAMAHA
                <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/yamaha_red_540x.png?v=1608052060" />
                <div class="brand-sub-menu">
                	SUB | MENU
                </div>
              </div>
            </div>          
          </div>
      	</div>
	</div>
</section>

{% schema %}
  {
    "name": "Shop By Ride",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
