<section id="shop-by-ride" class="shop-by-ride">
	<div class="w-full bgcolor-green400 flex justify-center">
    	<div class="index-section-title font-size-9x bgcolor-gray400">Shop By Ride</div>
    	<div class="index-section-content">
      	</div>
	</div>
</section>

{% schema %}
  {
    "name": "Shop By Ride",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
