<style>
  .psupport-faq-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.support-faq-content {
		background-color: #eee;
        margin:5rem auto 0rem;
    }
    .support-faq-ul {
       list-style-type: disc;
       
    }
  	.support-faq-question {
      font-family: Rajdhani;
      	font-weight: bold;
      	line-height: 1.6;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
  	.support-faq-answer {
      font-family: Roboto;
      	font-weight: normal;
      	line-height: 1;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>


<div class="support-faq-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="support-faq-title w-full text-3xl font-bold p-10">
		FREQUENTLY ASKED QUESTIONS
	</div>
  	<div class="pb-10 mx-auto">
		<div class="support-faq-content w-5/6 p-10 shadow-xl rounded-lg border-2 pl-10">
     		<ul class="support-faq-ul">
              <li class="support-faq-question">Question 1?</li>
              <li class="support-faq-answer">Answer 1</li>
              <li class="support-faq-question">Question 2?</li>
              <li class="support-faq-answer">Answer 1</li>
              <li class="support-faq-question">Question 3?</li>
              <li class="support-faq-answer">Answer to question 3 is this, its simple really, loreum ipsum.</li>
          	</ul>
      	</div>
	</div>
</div>

{% schema %}
  {
    "name": "Support FAQ",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
