<style>
  	.support-trouble-tickets-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.support-trouble-tickets-content {
		background-color: #eee;
        margin: 5rem auto 0rem;
    }
    .support-trouble-tickets-ul {
       list-style-type: disc;
       
    }
  	.support-trouble-tickets-question {
      font-family: Rajdhani;
      	font-weight: bold;
      	line-height: 1.6;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
  	.support-trouble-tickets-answer {
      font-family: Roboto;
      	font-weight: normal;
      	line-height: 1;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>


<div class="support-trouble-tickets-section w-full flex mx-auto justify-center">
  	<div class="support-trouble-tickets-title w-full text-3xl font-bold p-10">
		TROUBLE TICKETS
	</div>
  	<div class="pb-10 mx-auto w-full">
		<div class="support-trouble-tickets-open w-1/3 p-5 shadow-xl rounded-lg border-2 pl-10 bg-blue-400">
			OPEN TICKETS
      	</div>
      <div class="support-trouble-tickets-closed w-1/3 p-5 shadow-xl rounded-lg border-2 pl-10 bg-blue-400">
			ALL TICKETS
      	</div>
	</div>
</div>



{% schema %}
  {
    "name": "Support Trouble Tickets",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
