<style>
  .support-manuals-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.support-manuals-content {
		background-color: #eee;
        margin:5rem auto 0rem;
    }
    .support-manuals-ul {
       list-style-type: disc;
       
    }
  	.support-manuals-product {
      font-family: Rajdhani;
      	font-weight: bold;
      	line-height: 1.6;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
  	.support-manuals-document {
      font-family: Roboto;
      	font-weight: normal;
      	line-height: 1;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>


<div class="support-manuals-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="support-manuals-title w-full text-3xl font-bold p-10">
		PRODUCT MANUALS
	</div>
  	<div class="pb-10 mx-auto">
		<div class="support-manuals-content w-full p-10 shadow-xl rounded-lg border-2 pl-10">
			
      	</div>
	</div>
</div>

{% schema %}
  {
    "name": "Support Manuals",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
