<style>
  .support-contact-cards-title {
		background-color: #ccc;
    	font-family: Rajdhani;
        -webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
	.support-contact-cards-content {
		background-color: #eee;
        margin:5rem auto 0rem;
    }
    .support-contact-cards-ul {
       list-style-type: disc;
       
    }
  	.support-contact-cards-heading {
      font-family: Rajdhani;
      	font-weight: bold;
      	line-height: 1.6;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
  	.support-contact-cards-details {
      font-family: Roboto;
      	font-weight: normal;
      	line-height: 1;
      	font-size: initial;
    	-webkit-text-size-adjust: 100%;
      	-webkit-font-smoothing: antialiased;
    }
</style>


<div class="support-contact-cards-section w-full flex flex-wrap mx-auto justify-center">
  	<div class="support-contact-cards-title w-full text-3xl font-bold p-10">
		CONTACT US
	</div>
  	<div class="pb-10 mx-auto w-full">
		<div class="support-contact-cards-content w-1/2 p-10 shadow-xl rounded-lg border-2 pl-10">
          <span class="support-contact-cards-heading">Dealer & Installation Support</span>
          <span class="support-contact-cards-details">
          	Pumpkin Spice
            (903) 555-5555 ext 555
            Pumpkin@Thumperfab.com
          </span>
      	</div>
      	<div class="support-contact-cards-content w-1/2 p-10 shadow-xl rounded-lg border-2 pl-10">
			<span class="support-contact-cards-heading">Standard Customer Support</span>
          	<span class="support-contact-cards-details">
          		Pumpkin Spice
            	(903) 555-5555 ext 555
            	Pumpkin@Thumperfab.com
          	</span>
      	</div>
	</div>
</div>

{% schema %}
  {
    "name": "Support Contact Cards",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
