<section id="thumper-news" class="thumper-news">
	
</section>
{% schema %}
  {
    "name": "Thumper Fab News",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
