<section id="thumper-fab-news" class="thumper-fab-news">
	<div class="shop-by-ride-brand-container w-full flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">THUMPER FAB NEWS</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center text-center">
			content
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Thumper Fab News",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
