<section id="top-sellers" class="top-sellers">
	<div class="shop-by-ride-brand-container w-full flex-wrap justify-center">
    	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">TOP SELLERS</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center text-center">
			content
      	</div>
	</div>
</section>
{% schema %}
  {
    "name": "Top Sellers",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
