<div class="page-width">
<div class="w-full grid flex flex-wrap sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 justify-center items-center">
  <div class="block w-1/4 bg-green-400">
   section one
  </div>
  <div class="block w-full bg-green-500">
  section two
  </div>
  <div class="block w-full bg-green-600">
  section three
  </div>
  <div class="block w-full bg-green-700">
  section four
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Trust Tailwind",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
