<section id="what-customers-say" class="what-customers-say">
	
</section>
{% schema %}
  {
    "name": "What Customers Say",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
