<section id="what-customers-say" class="what-customers-say">
<div class="shop-by-ride-brand-container w-full flex-wrap justify-center">
	<div class="index-section-title w-full text-6xl bg-gray-400 text-center pt-5" style="font-family: Teko;">WHAT OUR CUSTOMERS SAY</div>
    	<div class="index-section-content w-full bg-gray-200 justify-center text-center">
    	<div class="w-1/5">
        	<span>
				<svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400"><g id="svgg"><path id="path0" d="M106.250 31.646 C 52.299 39.036,10.060 80.613,1.121 135.128 C -0.559 145.372,-0.520 328.925,1.163 335.388 C 5.257 351.103,18.199 363.932,34.051 367.986 C 41.115 369.792,138.641 370.400,148.099 368.696 C 163.785 365.871,178.431 352.418,183.336 336.328 C 185.538 329.107,185.532 224.766,183.329 217.578 C 178.835 202.915,166.597 190.549,151.953 185.875 C 149.710 185.159,139.017 184.751,114.063 184.431 C 74.695 183.925,75.450 184.043,68.750 177.344 C 56.838 165.432,60.622 132.827,75.963 115.190 C 90.173 98.853,101.726 93.795,126.597 93.022 C 145.186 92.445,148.034 91.523,151.969 84.809 L 153.980 81.378 153.748 60.682 L 153.516 39.985 151.127 36.985 C 145.870 30.383,129.603 28.448,106.250 31.646 M321.436 31.648 C 266.472 39.846,226.321 79.665,216.280 135.938 C 214.423 146.341,214.775 330.135,216.664 336.328 C 221.560 352.388,236.244 365.876,251.901 368.696 C 261.359 370.400,358.885 369.792,365.949 367.986 C 381.801 363.932,394.743 351.103,398.837 335.388 C 400.592 328.647,400.565 225.155,398.806 218.400 C 395.147 204.353,383.501 191.810,369.315 186.638 C 364.614 184.924,363.304 184.851,329.688 184.425 C 295.521 183.992,294.855 183.953,291.016 182.187 C 268.375 171.766,273.972 126.982,300.522 106.126 C 313.178 96.184,320.970 93.733,342.188 93.021 C 359.930 92.425,361.119 92.122,365.561 87.062 C 369.383 82.710,369.531 81.753,369.531 61.443 C 369.531 39.642,369.052 37.679,362.631 33.214 L 359.246 30.859 343.881 30.726 C 334.287 30.643,325.857 30.989,321.436 31.648 " stroke="none" fill="#000000" fill-rule="evenodd"></path></g></svg>
        	</span>
		</div>
	</div>
</div>
</section>
{% schema %}
  {
    "name": "What Customers Say",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
