.product__info-container > * + * {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.product__text {
  margin-bottom: 0;
}

a.product__text {
  display: block;
  text-decoration: none;
  color: var(--color-foreground-75);
}

.product__text.caption-with-letter-spacing {
  /*text-transform: uppercase;*/
}

.product__title {
  word-break: break-word;
  /*font-size:2.5rem;*/
  /*font-size: 2.7vw;*/
  font-weight:NORMAL;
}
@media screen and (max-width:716px) {
  .product__title {
    /*font-size:6.7vw; */
  }  
}

.product__text + .product__title {
  margin-top: 0;
}

.prod_deets {
    font-size: 22px;
    text-transform: uppercase;
    color: #555;
    letter-spacing: .1px;
    /* display: block; */
    margin-top: 15px!important;
    margin-left: 0%;
}

.product__title + .product__text {
  margin-top: 0;
}

.product__description {
  margin: 2rem 0 3rem;
  font-size: medium;
  font-family: 'montserratlight','Arial','Helvetica',sans-serif;
  color: #222;
  text-align: justify;
}

.product__description-wide {
  margin: 2rem 5% 3rem;
  font-size: 16px;
  font-family: 'montserratlight','Arial','Helvetica',sans-serif !important;
  color: #222;
  text-align: justify;
}
.product__accordion .accordion__content {
  padding: 0 1rem;
  font-size: small;
}

.product .price {
  align-items: flex-start;
}

.product .price--sold-out .price__badge-sold-out {
  background: transparent;
  color: var(--color-background);
  padding: 1rem 1.6rem 0 0.6rem;
  border: none;
}

.product .price--sold-out .price__badge-sale {
  display: none;
}

@media screen and (min-width: 750px) {
  .product__info-container > *:first-child {
/*     margin-top: 0; */
     margin: 0 0 2px 2px;
  }
}

.product__description-title {
  font-weight: 600;
}

.product--no-media .product__title,
.product--no-media .product__text {
  text-align: center;
}

.product--no-media fieldset.product-form__input,
.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown,
.product--no-media .share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown {
  flex-direction: column;
  max-width: 100%;
}

.product--no-media fieldset.product-form__input {
  flex-wrap: wrap;
  margin: 0 auto 1.2rem auto;
}

.product--no-media .product__info-container > modal-opener {
  display: block;
  text-align: center;
}

.product--no-media .product-popup-modal__button {
  padding-right: 0;
}

.product--no-media .price {
  justify-content: center;
}

.product--no-media .product__info-wrapper {
  padding-left: 0;
}
